<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matmul</title>
</head>

<body>
    <h1>Welcome to Matmul</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <span>Matrix: A</span>
        <textarea name="A" rows="6" cols="20">{{A}}</textarea><br>
        <span>Matrix: B</span>
        <textarea name="B" rows="6" cols="20">{{B}}</textarea><br>
        <button type="submit">Multiply</button>
    </form>

    <div>
        <textarea cols="60" rows="6" name="C">{{C}}</textarea>
    </div>
    <div>
        <table border="1">
            {% for r in C %}
            <tr>
                {% for c in r %}
                <td>{{c}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>